@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }

    .animate-pulse-slow {
        animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .glass-panel {
        @apply bg-slate-900/40 backdrop-blur-xl border border-white/10 shadow-2xl;
    }

    .bg-logo-pattern {
        background-image: url('/logo.png');
        background-size: 50px 50px;
        background-repeat: repeat;
        opacity: 0.03;
        /* Very subtle */
        pointer-events: none;
    }

    .animate-slide {
        animation: slide 60s linear infinite;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}